<!DOCTYPE html>
<!-- ソースコード閲覧禁止！ -->
<!-- ソースコード閲覧禁止！ -->
<!-- ソースコード閲覧禁止！ -->
<!-- ソースコード閲覧禁止！ -->
<!-- ソースコード閲覧禁止！ -->
<!-- ソースコード閲覧禁止！ -->
<!-- ソースコード閲覧禁止！ -->
<!-- ソースコード閲覧禁止！ -->
<!-- ソースコード閲覧禁止！ -->
<!-- ソースコード閲覧禁止！ -->
<!-- ソースコード閲覧禁止！ -->
<!-- ソースコード閲覧禁止！ -->
<!-- ソースコード閲覧禁止！ -->
<!-- ソースコード閲覧禁止！ -->
<!-- ソースコード閲覧禁止！ -->
<!-- ソースコード閲覧禁止！ -->
<!-- ソースコード閲覧禁止！ -->
<!-- ソースコード閲覧禁止！ -->
<!-- ソースコード閲覧禁止！ -->
<!-- ソースコード閲覧禁止！ -->
<!-- ソースコード閲覧禁止！ -->
<!-- ソースコード閲覧禁止！ -->
<!-- ソースコード閲覧禁止！ -->
<!-- ソースコード閲覧禁止！ -->
<!-- ソースコード閲覧禁止！ -->
<!-- ソースコード閲覧禁止！ -->
<!-- ソースコード閲覧禁止！ -->
<!-- ソースコード閲覧禁止！ -->
<!-- ソースコード閲覧禁止！ -->
<!-- ソースコード閲覧禁止！ -->
<!-- ソースコード閲覧禁止！ -->
<!-- ソースコード閲覧禁止！ -->
<!-- ソースコード閲覧禁止！ -->
<!-- ソースコード閲覧禁止！ -->
<!-- ソースコード閲覧禁止！ -->
<!-- ソースコード閲覧禁止！ -->
<!-- ソースコード閲覧禁止！ -->
<!-- ソースコード閲覧禁止！ -->
<!-- ソースコード閲覧禁止！ -->
<!-- ソースコード閲覧禁止！ -->
<!-- ソースコード閲覧禁止！ -->
<!-- ソースコード閲覧禁止！ -->
<!-- ソースコード閲覧禁止！ -->
<!-- ソースコード閲覧禁止！ -->
<!-- ソースコード閲覧禁止！ -->
<!-- ソースコード閲覧禁止！ -->
<!-- ソースコード閲覧禁止！ -->
<!-- ソースコード閲覧禁止！ -->
<!-- ソースコード閲覧禁止！ -->
<!-- ソースコード閲覧禁止！ -->
<!-- ソースコード閲覧禁止！ -->
<!-- ソースコード閲覧禁止！ -->
<html lang="ja">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta http-equiv="content-script-type" content="text/javascript">
        <meta http-equiv="Content-Style-Type" content="text/css">
        <link rel="stylesheet" href="style.css">
        <script src="https://unpkg.com/vue@3.1.5"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <title>PHANTOM</title>
    </head>
    <body>
        <div id="wrap">
            <img src="img/whiteout.png" class="whiteout">
            <div id="side1">
            </div>
            <div id="head1">
                <h2 id="srvtitle">DRSKカラー杯オンライ...</h2>
            </div>
            
            <div id="side2">
                <section id="textch">
                    <p>QUESTIONS</p>
                    <ul>
                        <span class="btn" v-on:click="currentFlag = 0"><li class="st"><img src="img/textch_icon.png"><span class="chtitle">【必読】はじめに</span></li></span>
                        <span class="btn" v-on:click="currentFlag = 1"><li class="st"><img src="img/textch_icon.png"><span class="chtitle">【必読】大会ルール</span></li></span>
                        <span class="btn" v-on:click="currentFlag = 2"><li class="st"><img src="img/textch_icon.png"><span class="chtitle">【必読】会場案内</span></li></span>
                        <span class="btn" v-on:click="currentFlag = 3"><li class="st"><img src="img/textch_icon.png"><span class="chtitle">連絡（大会開始前）</span></li></span>
                        <span class="btn" v-on:click="currentFlag = 5"><li class="st"><img src="img/textch_icon.png"><span class="chtitle">お知らせ・告知</span></li></span>
                    </ul>
                    <p>対戦テーブル</p>
                    <ul>
                        <span class="btn" v-on:click="currentFlag = 4"><li class="st voice"><img src="img/voicech_icon.png"><span class="chtitle">フィーチャーテーブル</span></li></span>
                        <li class="st player icon"><img src="img/cutie.png" ><span class="chplayer">████████</span></li>
                        <li class="st player icon"><img src="img/lion.png" ><span class="chplayer">████████</span></li>
                    </ul>
                </section>
            </div>
            
            <div id="head2"></div>

            <div id="main">
                    <component v-bind:is="answer"></component>
                    <component v-bind:is="currentMode"></component>
                    <component v-bind:is="currentFlagComp"></component>
            </div>

            <div class="inputarea">
                <input type="text" v-model="input" placeholder="カードの正式名称を入力(スペース不要)"/>
                <button v-on:click="checkanswer">回答</button>
            </div>
                
            <div id="head3"></div>
            
            <div id="side3">
                <section>
                    <p>オンライン</p>
                    <li v-for="item in players" class="players icon">
                        <img :src="item.img">{{item.name}}
                    </li>
                </section>
            </div>

        </div>        
    <!-- use script-->
    <script src="index.js"></script>
    </body>
</html>