body{
    background-color: #202225;
    overflow-y: hidden;
    user-select: none; /* CSS3 */
    -moz-user-select: none; /* Firefox */
    -webkit-user-select: none; /* Safari、Chromeなど */
    -ms-user-select: none; /* IE10かららしい */    
    font-family:"MS Pゴシック",sans-serif;
    color: aliceblue;
    text-align: center;
}

.mov{
    margin: 0 auto;
    border-radius: 8px;
    padding-top: 80px;
    aspect-ratio: 16 / 9;
    width: 45%;
    height: auto;
    max-width: 750px;
    max-height: 360px;
}

a{
    color: aqua;
}