body{
    background-color: #202225;
    overflow-y: hidden;
    user-select: none; /* CSS3 */
    -moz-user-select: none; /* Firefox */
    -webkit-user-select: none; /* Safari、Chromeなど */
    -ms-user-select: none; /* IE10かららしい */    
    font-family:"MS Pゴシック",sans-serif;
}

hr{
    color: #404348;
    margin: 20px;
}

#wrap{
    display: grid;
    grid-template-columns: 65px 240px auto 240px;
    grid-template-rows: 50px 87vh 90px;
    grid-gap: 1px 0px;
}

#side1{
    grid-row: 1 / -1;
    background-color: #202225;
}

#head1{
    grid-row: 1 / 2;
    background-color: #2F3136;
}

#side2{
    grid-row: 2 / -1;
    background-color: #2F3136;
}

#head2{
    grid-row: 1 / 2;
    background-color: #36393F;
    color: aliceblue;
}

#head2 #tex{
    margin-top: 5px;
    margin-left: 10px;
    padding-top: 25px;
    vertical-align: middle;
}

#main{
    grid-row: 2 / 3;
    background-color: #36393F;
    overflow-y: scroll;
    display: flex;
    flex-direction: column-reverse;
}

.inputarea{
    grid-row: 3 / -1;
    background-color: #36393F;
}

#head3{
    grid-row: 1 / 2;
    background-color: #36393F;
}

#side3{
    grid-row: 2 / -1;
    background-color: #2F3136;
}

#srvtitle{
    margin: 13px 20px;
    font-size: 16px;
    color: aliceblue;
}

#top_tex{
    text-align: center;
    color:#B8BABC;
    font-size: 14px;
}

#top{
    margin:0 auto;
    width: 38%;
    text-align: center;
    color: aliceblue;
    font-size: 35px;
    font-weight: bolder;
}

.postage{
    color:aliceblue;
    margin: 0px auto 15px 20px;
    display: flex;
}

.postage img{
    width: 50px;
    height: 50px;
    padding-right: 5px;
}

.postage p{
    line-height: 0px;
}

.postage .role_orgn{
    color:gold;
}

.postage .role_ten{
    color:crimson;
}


.chtitle{
    vertical-align: middle;
}

#textch ul{
    list-style-type: none;
    padding-left: 10px;
    margin-top: 5px;
    margin-bottom: 16px;
}

#textch li{
    width: 210px;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 3px;
    color: #8C8F92;
    display: none;
}

#textch li:hover{
    background-color: #34373C;
    color: #E1E7E4;
}

#textch img{
    margin:0;
    margin-right: 10px;
    width: 20px;
    height: 18px;
    vertical-align: middle;
}

#textch .active li{
    background-color: #393C43;
    color: aliceblue;
}

.text li{
    list-style-image: url(./img/textlist.png);
    z-index: -1;
}

#textch p{
    font-size: 12px;
    font-weight: bold;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 0;
    color: #8C8F92
}

#side3 p{
    font-size: 12px;
    font-weight: bold;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 2px;
    color: #8C8F92
}

.players{
    width: 200px;
    padding-left: 5px;
    border-radius: 5px;
    margin-bottom: 3px;
    list-style-type: none;
    color: #8C8F92
}

.players img{
    margin:0;
    margin-right: 10px;
    width: 35px;
    height: 35px;
    padding-bottom: 5px;
    vertical-align: middle;
}

.players:hover{
    background-color: #34373C;
    color: #E1E7E4;
}

.inputarea input{
    width: 90%;
    height: 40%;
    font-size: 100%;
    border-radius: 5px;
    margin-left: 10px;
    margin-top:5px;
    margin-right:5px;
    padding-left:15px;
    background-color: #40444B;
    color: #E1E7E4;
    border: none;
}

.inputarea input ::placeholder{
    color: #6C7077
}

.inputarea button{
    font-size: 100%;
    border-radius: 5px;
    padding-bottom: 5px;
    color: #8C8F92;
    background-color: #36393F;
    border: none;
}

.inputarea button:hover{
    background-color: #34373C;
    color: #E1E7E4;
}

#q1{
    width: 800px;
    height:450px;
    margin:0 auto;
    padding-left: 5px;
}

.whiteout{
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
}

.chplayer{
    vertical-align: middle;
    font-size: 85%;
}

#textch .player{
    margin: 0;
    margin-left: 30px;
    width: 180px;
    vertical-align: middle;
}

#textch .voice img {
    margin:0;
    margin-right: 10px;
    width: 25px;
    height: 25px;
    vertical-align: middle;
}

#textch .player img {
    margin: 0;
    margin-right: 0;
    padding-right:5px;
    width: 25px;
    height: 25px;
    vertical-align: middle;
}

.icon .live img{
    margin-left: 12px;
    padding-left: 5px;
    padding-right: 5px;
    vertical-align: middle;
    border-radius: 0;
    width:20px;
}

.voicepage{
    position: absolute;
    margin-top: 7px;
    top: 0;
    width:calc(100% - 320px);
    height:100%;
    background-color: #000000;
}

.q5_1{
    position: absolute;
    left: auto;
    top: -60px;
    margin-top: 55px;
    border-radius: 8px;
    padding-left: 60px;
    background-color: #000;
    padding-right: 13.8%;
    padding-bottom: 5000px;
    padding-top: 80px;
    width: 70%;
    height: auto;
    max-width:1280px; 
    max-height:720px; 
}

.q5_2{
    position: absolute;
    left: auto;
    top: -60px;
    margin-top: 55px;
    border-radius: 8px;
    padding-left: 60px;
    background-color: #000;
    padding-right: 13.8%;
    padding-bottom: 5000px;
    padding-top: 80px;
    aspect-ratio: 16 / 9;
    width: 70%;
    height: auto;
    max-width:1280px; 
    max-height:720px; 
}

.icon img{
    border-radius: 50%;
}